/* CSS Variables */
:root {
  --dark-green: #024731;
  --dark-green-rgb: 2, 71, 49;
}

body {
  --bs-light-rgb: var(--dark-green-rgb);
}

Table a{
  color: black;
}

h1 {
  color: var(--dark-green);
}

.dropdown-menu {
  border-radius: 0;
  text-align: center;
}

a.nav-link {
  color: white;
}

.footer-link {
  color: white;
  font-size: 20pt;
  padding-right: 20px;
}

ul li a, ol li a {
  color: black;
}

#departments img, #legacy img {
  width: 375px;
  height: 250px;
}

#departments .badge, #legacy .badge{
  position: absolute;
  transform: translate(-50%, -50%);
}

#SystemAdmin button {
  color: var(--dark-green);
}

#SystemAdmin button.active {
  background-color: var(--dark-green);
  color: white;
}

#ImageCarousel img {
  width: 100%;
  overflow: hidden;
}
