/* CSS Variables */
:root {
  --dark-green: #024731;
  --dark-green-rgb: 2, 71, 49;
}

body {
  --bs-light-rgb: var(--dark-green-rgb);
  padding-top: 85px;
}

Table a{
  color: black;
}

h1 {
  color: var(--dark-green);
}

.dropdown-menu {
  border-radius: 0;
}

a.nav-link {
  color: white;
}

.footer-link {
  color: white;
  font-size: 20pt;
  padding-right: 20px;
}

a {
  color: black;
}

#departments img, #legacy img {
  width: 375px;
  height: 250px;
}

#departments .badge, #legacy .badge{
  position: absolute;
  transform: translate(-50%, -50%);
}

li.nav-item button[role=tab] {
  color: var(--dark-green);
}

li.nav-item button[role=tab].active {
  background-color: var(--dark-green);
  color: white;
}

#ImageCarousel img {
  width: 100%;
  overflow: hidden;
}

#SEL311B img {
  width: 100%;
  max-width: 500px;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  margin: 0.5rem 0;
}

.example .container{
  border: red 2px solid;
}

.example .row {
  border: blue 2px solid;
  margin: 1rem;
}

.example .col, .example .col-2 {
  border: black 2px solid;
  margin: 1rem;
}

.nmap {
  padding-top: 20px;
}